extends layout

block content
  main#maindiv
    .container
      p #{Q}
      hr
      img#char1(src="http://drive.google.com/uc?export=view&id=15eFZ2kKYvLXESJ09BGAPr7a4f_L0gErM")
      img#char2(src="http://drive.google.com/uc?export=view&id=1t_JczBffzwmDMHumalPQcoT5sTMYDN13")
    .container
      p 投稿一覧
      .row
        .col-sm

            hr
            hr
      script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
      crossorigin="anonymous")