extends layout

block content
  main#maindiv
    .container
      p #{Q}
      hr
      img#char1(src="http://drive.google.com/uc?export=view&id=15eFZ2kKYvLXESJ09BGAPr7a4f_L0gErM")
      img#char2(src="http://drive.google.com/uc?export=view&id=1t_JczBffzwmDMHumalPQcoT5sTMYDN13")
    .container
      p 第3章 サーバーサイドプログラミング入門
      .row
        .col-sm
          form(method="post")
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章01.Node.js")
              span 　01.Node.js
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章02.アルゴリズムの改善")
              span 　02.アルゴリズムの改善
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章03.集計処理を行うプログラム")
              span 　03.集計処理を行うプログラム
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章04.ライブラリ")
              span 　04.ライブラリ
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章05.Slack のボット開発")
              span 　05.Slack のボット開発
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章06.HubotとSlackアダプタ")
              span 　06.HubotとSlackアダプタ
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章07.モジュール化された処理")
              span 　07.モジュール化された処理
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章08.ボットインタフェースとの連携")
              span 　08.ボットインタフェースとの連携
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章09.同期 I/O と非同期 I/O")
              span 　09.同期 I/O と非同期 I/O
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章10.例外処理")
              span 　10.例外処理
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章11.HTTP サーバー")
              span 　11.HTTP サーバー
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章12.ログ")
              span 　12.ログ
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章13.HTTP のメソッド")
              span 　13.HTTP のメソッド
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章14.HTML のフォーム")
              span 　14.HTML のフォーム
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章15.テンプレートエンジン")
              span 　15.テンプレートエンジン
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章16.Heroku で Web サービスを公開")
              span 　16.Heroku で Web サービスを公開
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章17.認証で利用者を制限する")
              span 　17.認証で利用者を制限する
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章18.Cookie を使った秘密の匿名掲示板")
              span 　18.Cookie を使った秘密の匿名掲示板
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章19.UI、URI、モジュールの設計")
              span 　19.UI、URI、モジュールの設計
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章20.フォームによる投稿機能の実装")
              span 　20.フォームによる投稿機能の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章21.認証された投稿の一覧表示機能")
              span 　21.認証された投稿の一覧表示機能
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章22.データベースへの保存機能の実装")
              span 　22.データベースへの保存機能の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章23.トラッキング Cookie の実装")
              span 　23.トラッキング Cookie の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章24.削除機能の実装")
              span 　24.削除機能の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章25.管理者機能の実装")
              span 　25.管理者機能の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章26.デザインの改善")
              span 　26.デザインの改善
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章27.脆弱性")
              span 　27.脆弱性
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章28.XSS脆弱性の対策")
              span 　28.XSS脆弱性の対策
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章29.パスワードの脆弱性の対策")
              span 　29.パスワードの脆弱性の対策
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章30.セッション固定化攻撃脆弱性の対策")
              span 　30.セッション固定化攻撃脆弱性の対策
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章31.より堅牢なセッション管理")
              span 　31.より堅牢なセッション管理
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章32.CSRF脆弱性の対策")
              span 　32.CSRF脆弱性の対策
            p
              input(type="radio" name="enq" onclick="func_click()" value="3章33.Heroku への安全な公開")
              span 　33.Heroku への安全な公開
            hr
            textarea#tex(name="coment" cols=60 rows=1 placeholder="※特に「ここが！」(任意)")
            hr
            hr
            button(type="button" onclick="location.href='/index'") 戻る
            button#submit_button(type="submit" disabled=true) 投稿
            hr
            hr
      script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
      crossorigin="anonymous")
      script.
        var sub_button = document.getElementById('submit_button');
        var radio_button = document.getElementsByTagName('input');
        var text_area = document.getElementById('tex');
        function func_click(){
          for(let i = 0; i < radio_button.length;i++){
            if(radio_button.item(i).checked === true){
              text_area.style.display = "block";
              sub_button.disabled = false;
            }
          }
        }