extends layout

block content
  main#maindiv
    .container
      p #{Q}
      hr
      img#char1(src="http://drive.google.com/uc?export=view&id=15eFZ2kKYvLXESJ09BGAPr7a4f_L0gErM")
      img#char2(src="http://drive.google.com/uc?export=view&id=1t_JczBffzwmDMHumalPQcoT5sTMYDN13")
    .container
      p 第3章 サーバーサイドプログラミング入門
      .row
        .col-sm
          form(method="post")
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_01")
              span 　01.Node.js
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_02")
              span 　02.アルゴリズムの改善
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_03")
              span 　03.集計処理を行うプログラム
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_04")
              span 　04.ライブラリ
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_05")
              span 　05.Slack のボット開発
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_06")
              span 　06.HubotとSlackアダプタ
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_07")
              span 　07.モジュール化された処理
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_08")
              span 　08.ボットインタフェースとの連携
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_09")
              span 　09.同期 I/O と非同期 I/O
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_10")
              span 　10.例外処理
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_11")
              span 　11.HTTP サーバー
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_12")
              span 　12.ログ
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_13")
              span 　13.HTTP のメソッド
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_14")
              span 　14.HTML のフォーム
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_15")
              span 　15.テンプレートエンジン
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_16")
              span 　16.Heroku で Web サービスを公開
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_17")
              span 　17.認証で利用者を制限する
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_18")
              span 　18.Cookie を使った秘密の匿名掲示板
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_19")
              span 　19.UI、URI、モジュールの設計
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_20")
              span 　20.フォームによる投稿機能の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_21")
              span 　21.認証された投稿の一覧表示機能
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_22")
              span 　22.データベースへの保存機能の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_23")
              span 　23.トラッキング Cookie の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_24")
              span 　24.削除機能の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_25")
              span 　25.管理者機能の実装
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_26")
              span 　26.デザインの改善
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_27")
              span 　27.脆弱性
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_28")
              span 　28.XSS脆弱性の対策
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_29")
              span 　29.パスワードの脆弱性の対策
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_30")
              span 　30.セッション固定化攻撃脆弱性の対策
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_31")
              span 　31.より堅牢なセッション管理
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_32")
              span 　32.CSRF脆弱性の対策
            p
              input(type="radio" name="enq" onclick="func_click()" value="3_33")
              span 　33.Heroku への安全な公開
            hr
            textarea#tex(name="coment" cols=60 rows=1 placeholder="※特に「ここが！」(任意)")
            hr
            hr
            button(type="button" onclick="location.href='./'") 戻る
            button#submit_button(type="submit" disabled=true) 投稿
            hr
            hr
      script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
      crossorigin="anonymous")
      script.
        var sub_button = document.getElementById('submit_button');
        var radio_button = document.getElementsByTagName('input');
        var text_area = document.getElementById('tex');
        function func_click(){
          for(let i = 0; i < radio_button.length;i++){
            if(radio_button.item(i).checked === true){
              text_area.style.display = "block";
              sub_button.disabled = false;
            }
          }
        }