extends layout

block content
  main#maindiv
    .container
      p #{Q}
      hr
      img#char1(src="http://drive.google.com/uc?export=view&id=15eFZ2kKYvLXESJ09BGAPr7a4f_L0gErM")
      img#char2(src="http://drive.google.com/uc?export=view&id=1t_JczBffzwmDMHumalPQcoT5sTMYDN13")
    .container
      p 第１章 はじめよう
      .row
        .col-sm
          form(method="post")
            p
              input(type="radio" name="enq" value="１章01.プログラミング体験をしてみよう" onclick="func_click()")
              span 　01.プログラミング体験をしてみよう
            p
              input(type="radio" name="enq" value="１章02.はじめてのHTML" onclick="func_click()")
              span 　02.はじめてのHTML
            p
              input(type="radio" name="enq" value="１章03.さまざまなHTMLタグ" onclick="func_click()")
              span 　03.さまざまなHTMLタグ
            p
              input(type="radio" name="enq" value="１章04.HTMLで作る自己紹介ページ" onclick="func_click()")
              span 　04.HTMLで作る自己紹介ページ
            p
              input(type="radio" name="enq" value="１章05.はじめてのJavaScript" onclick="func_click()")
              span 　05.はじめてのJavaScript
            p
              input(type="radio" name="enq" value="１章06.JavaScriptでの計算" onclick="func_click()")
              span 　06.JavaScriptでの計算
            p
              input(type="radio" name="enq" value="１章07.JavaScriptで論理を扱う" onclick="func_click()")
              span 　07.JavaScriptで論理を扱う
            p
              input(type="radio" name="enq" value="１章08.JavaScriptのループ" onclick="func_click()")
              span 　08.JavaScriptのループ
            p
              input(type="radio" name="enq" value="１章09.JavaScriptのコレクション" onclick="func_click()")
              span 　09.JavaScriptのコレクション
            p
              input(type="radio" name="enq" value="１章10.JavaScriptの関数" onclick="func_click()")
              span 　10.JavaScriptの関数
            p
              input(type="radio" name="enq" value="１章11.JavaScriptのオブジェクト" onclick="func_click()")
              span 　11.JavaScriptのオブジェクト
            p
              input(type="radio" name="enq" value="１章12.はじめてのCSS" onclick="func_click()")
              span 　12.はじめてのCSS
            p
              input(type="radio" name="enq" value="１章13.CSS を使ったプログラミング" onclick="func_click()")
              span 　13.CSS を使ったプログラミング
            p
              input(type="radio" name="enq" value="１章14.Web ページの企画とデザイン" onclick="func_click()")
              span 　14.Web ページの企画とデザイン
            p
              input(type="radio" name="enq" value="１章15.診断機能の開発" onclick="func_click()")
              span 　15.診断機能の開発
            p
              input(type="radio" name="enq" value="１章16.診断機能の組込み" onclick="func_click()")
              span 　16.診断機能の組込み
            p
              input(type="radio" name="enq" value="17.ツイート機能の開発" onclick="func_click()")
              span 　17.ツイート機能の開発
            hr
            textarea#tex(name="coment" cols=60 rows=1 placeholder="※特に「ここが！」(任意)")
            hr
            hr
            button(type="button" onclick="location.href='/index'") 戻る
            button#submit_button(type="submit" disabled=true) 投稿
            hr
            hr
      script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
      crossorigin="anonymous")
      script.
        var sub_button = document.getElementById('submit_button');
        var radio_button = document.getElementsByTagName('input');
        var text_area = document.getElementById('tex');
        function func_click(){
          for(let i = 0; i < radio_button.length;i++){
            if(radio_button.item(i).checked === true){
              text_area.style.display = "block";
              sub_button.disabled = false;
            }
          }
        }
        