extends layout

block content
  main#maindiv
    .container
      p #{Q}
      hr
      img#char1(src="http://drive.google.com/uc?export=view&id=1__bSpY4gIqJJZO0YkDtjEF4haUnqzHMD")
      img#char2(src="http://drive.google.com/uc?export=view&id=1CI4yfaCyMeEjzgHoeFYBf_w_V3JxpLLr")
    .container
      p 第4章 実践サーバーサイドプログラミング
      .row
        .col-sm
          form(method="post")
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章01.Webフレームワーク")
              span 　01.Webフレームワーク
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章02.ExpressのAPI")
              span 　02.ExpressのAPI
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章03.GitHubを使った外部認証")
              span 　03.GitHubを使った外部認証
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章04.テスティングフレームワーク")
              span 　04.テスティングフレームワーク
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章05.継続的インテグレーション")
              span 　05.継続的インテグレーション
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章06.クライアントのフレームワーク")
              span 　06.クライアントのフレームワーク
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章07.DOM操作のフレームワーク")
              span 　07.DOM操作のフレームワーク
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章08.AJAX")
              span 　08.AJAX
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章09.WebSocket")
              span 　09.WebSocket
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章10.RDBMS と SQL")
              span 　10.RDBMS と SQL
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章11.データモデリング")
              span 　11.データモデリング
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章12.テーブルの結合")
              span 　12.テーブルの結合
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章13.インデックス")
              span 　13.インデックス
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章14.集計とソート")
              span 　14.集計とソート
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章15.「予定調整くん」の設計")
              span 　15.「予定調整くん」の設計
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章16.認証の実装とテスト")
              span 　16.認証の実装とテスト
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章17.ユーザーの保存")
              span 　17.ユーザーの保存
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章18.予定の一覧の表示")
              span 　18.予定の一覧の表示
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章19.出欠の表示と更新")
              span 　19.出欠の表示と更新
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章20.コメントの表示と更新")
              span 　20.コメントの表示と更新
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章21.予定の編集と削除")
              span 　21.予定の編集と削除
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章22.デザインの改善")
              span 　22.デザインの改善
            p
              input(type="radio" name="enq" onclick="func_click()" value="4章23.セキュリティ対策と公開")
              span 　23.セキュリティ対策と公開
            hr
            textarea#tex(name="coment" cols=60 rows=1 placeholder="※特に「ここが！」(任意)")
            hr
            hr
            button(type="button" onclick="location.href='/index'") 戻る
            button#submit_button(type="submit" disabled=true) 投稿
            hr
            hr
      script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
      crossorigin="anonymous")
      script.
        var sub_button = document.getElementById('submit_button');
        var radio_button = document.getElementsByTagName('input');
        var text_area = document.getElementById('tex');
        function func_click(){
          for(let i = 0; i < radio_button.length;i++){
            if(radio_button.item(i).checked === true){
              text_area.style.display = "block";
              sub_button.disabled = false;
            }
          }
        }