extends layout

block content
  main#maindiv
    .container
      p #{Q}
      hr
      img#char1(src="http://drive.google.com/uc?export=view&id=15eFZ2kKYvLXESJ09BGAPr7a4f_L0gErM")
      img#char2(src="http://drive.google.com/uc?export=view&id=1t_JczBffzwmDMHumalPQcoT5sTMYDN13")
    .container
      p 第２章 準備しよう
      .row
        .col-sm
          form(method="post")
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章01.LinuxというOS")
              span 　01.LinuxというOS
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章02.コンピューターの構成要素")
              span 　02.コンピューターの構成要素
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章03.ファイル操作")
              span 　03.ファイル操作
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章04.標準出力")
              span 　04.標準出力
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章05.vi")
              span 　05.vi
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章06.シェルプログラミング")
              span 　06.シェルプログラミング
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章07.通信とネットワーク")
              span 　07.通信とネットワーク
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章08.サーバーとクライアント")
              span 　08.サーバーとクライアント
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章09.HTTP通信")
              span 　09.HTTP通信
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章10.通信をするボットの開発")
              span 　10.通信をするボットの開発
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章11.GitHub で Web サイト公開")
              span 　11.GitHub で Web サイト公開
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章12.イシュー管理と Wiki によるドキュメント作成")
              span 　12.イシュー管理と Wiki によるドキュメント作成
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章13.Git と GitHub の連携")
              span 　13.Git と GitHub の連携
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章14.GitHub への push")
              span 　14.GitHub への push
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章15.Git のブランチ")
              span 　15.Git のブランチ
            p
              input(type="radio" name="enq" onclick="func_click()" value="2章16.ソーシャルコーディング")
              span 　16.ソーシャルコーディング
            hr
            textarea#tex(name="coment" cols=60 rows=1 placeholder="※特に「ここが！」(任意)")
            hr
            hr
            button(type="button" onclick="location.href='/index'") 戻る
            button#submit_button(type="submit" disabled=true) 投稿
            hr
            hr
      script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
      crossorigin="anonymous")
      script.
        var sub_button = document.getElementById('submit_button');
        var radio_button = document.getElementsByTagName('input');
        var text_area = document.getElementById('tex');
        function func_click(){
          for(let i = 0; i < radio_button.length;i++){
            if(radio_button.item(i).checked === true){
              text_area.style.display = "block";
              sub_button.disabled = false;
            }
          }
        }